.timeline-container {
    display: flex;
    flex-direction: column;
}

.category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.category {
    display: flex;
    flex-direction: row;
    margin: 0.25rem 1rem;
    padding: 1rem 1rem;
    border: var(--border);
    background: var(--background-color);
    color: var(--text);
    justify-content: center;
    min-width: 18rem;
}

.category__item--active {
    background: var(--accent-colour);
}

.category__link {
    display: flex;
    flex-direction: row;
    color: inherit;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;


}

.category__name {
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.5em;
}

.category__icon {
    width: 4em;
    height: 4em;
    margin-right: 1rem;
}

.category__color {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #3bb54a;
    border: var(--border);
}

.category:hover {
    background: var(--accent-colour);
}

