.timeline {
    margin: 2em auto;
    max-width: 34.15em;
}

.event {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.event__body {
    border: var(--border);
    border-radius: 1em;
    padding: 1.5em;
}

.event__description {
    margin-top: 1em;
}

.event:nth-child(odd) {
    border-left: var(--border);
    padding-left: 3em;
    transform: translateX(16.95em);
}

.event:nth-child(even) {
    border-right: var(--border);
    padding-right: 3em;
    transform: translateX(-16.95em);
}

.event:nth-child(odd):before,
.event:nth-child(even):before {
    content: "";
    background: var(--text);
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.event:nth-child(odd):before {
    left: 0;
}

.event:nth-child(even):before {
    right: 0;
}

.event:nth-child(odd):after,
.event:nth-child(even):after {
    content: '';
    /*background: var(--text);*/
    box-shadow: 0 0 0.5em var(--text);
    border: var(--border);
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.event:nth-child(odd):after {
    left: -0.5em;
}

.event:nth-child(even):after {
    right: -0.5em;
}