{% extends 'layout.html' %}
{% from "macros/fields.html" import render_selector_field, render_text_field, render_color_field,render_date_field, render_file_field %}
{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" media="all" />

{% endblock %}

{% block main_content %}
    <form name="add_event" method="post" novalidate class="form" enctype="multipart/form-data">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {%- for category, message in messages %}
                <span class="form__flash form__flash--{{ category }}"> {{ message }}</span>
            {% endfor %}
        {% endwith %}

        <div class="form__container">
            {{ form.hidden_tag() }}

            {{ render_text_field(form.name) }}
            {{ render_text_field(form.description) }}
            {{ render_file_field(form.graphic) }}
            {{ render_date_field(form.start_date) }}
            {{ render_date_field(form.end_date) }}
            {{ render_selector_field(form.category) }}

            <div>
                {{ form.submit(class="button button--form") }}
            </div>
        </div>
    </form>
{% endblock %}