{% extends 'layout.html' %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/category.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/event.css') }}"/>
{% endblock %}

{% block main_content %}
    <div class="timeline-container">
        <div class="category-container">
            {% for category in categories %}
                <div class="category">
                    <a href="#" class="category__link">
                        <span class="category__item">
                            <svg xmlns="http://www.w3.org/2000/svg" class="category__icon" fill="none"
                                 stroke="currentColor">
                                {{ category.icon_svg | safe }}
                            </svg>
                        </span>
                        <span class="category__item category__name">{{ category.name }}</span>
                        <span class="category__item category__color" style="background: {{ category.color }}"></span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="timeline">
            {% for event in events %}
                <div class="event">
                    <a href="#" class="event__link">
                        <div class="event__body">
                            <h2 class="event__name">{{ event.name }}</h2>
                            <div class="event__category">
                                <h4>Category: {{ event.category_name }}</h4>
                                <small class="dot" style="background: {{ event.category_color }}"></small>
                            </div>
                            <small class="event__date">Date: {{ event.end_date }}-{{ event.start_date }}</small>
                            <p class="event__description">
                                {{ event.description[:200] }} ...
                            </p>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}