{% extends 'layout.html' %}

{% from 'macros/svgs.html' import economical, economical2 %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}"/>
{% endblock %}

{% block main_content %}
    <div class="timeline-container">
        <div class="category-container">
            {% for category in categories %}
                <div class="category">
                    <a href="#" class="category__link">
                    <span class="category__item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="category__icon" fill="none"
                             stroke="currentColor">
                            {{ category.icon_svg | safe }}
                        </svg>
                    </span>
                        <span class="category__item category__name">{{ category.name }}</span>
                        <span class="category__item category__color" style="background: {{ category.color }}"></span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}